<%- include("partials/header"); -%>

<div class="homepage">
  <h4>Sample Post</h4>
  <p> <%= startingContent %> </p>

   <% posts.forEach(function(post){ %>
     <h4> <%= post.title %>  </h4>
      <p> <%= post.body.substring(0,500) + "....." %><a href="/posts/<%=post.title%>">Read More</a></p>
   <% }) %>
</div>
